.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Homepage-poster {
  width: 156px;
  height: 231px;
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  
}

.Homepage img:hover{
  filter: brightness(.60);
}

.Homepage {
  margin:auto;
  margin-bottom: 100%;
  width: 1060px;
  padding-right: auto;
  background-color: #445566;
}
#homepageLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  width: 250px;
  height: 250px;
  border-radius: 35px;
}
.NavLink {
  margin-top:15px;
  margin-left: 23.5%;
  margin-right: 25%;
  margin-bottom: 10px;
  border-bottom: 5px solid #681256
  
}

.NavLinkButton {
  display: inline-block;
  width: auto;
  padding: 12px;
  margin: 0 6px 6px;
  background: #D9E7AC;
  color: #C0185A;
  font-family: Andale Mono, monospace;
  font-size: large;
  font-weight: bold;
  
}
.movieLink{
  border-radius: 25px;
}

.selectedMovie {
  border: 1px solid black;
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  
}

.selectedMovie img {
  width: 250px;
  height: 370px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.selectedMovie h1 {
  text-decoration:underline ;
  margin-left: 35.5%;
  margin-bottom: 10px;
  font-size: 45px;
  color: white;
}

.movieInfoAll {
  display: flex;
  gap: 18px;
}
.movieInfoBox {

text-align: center;  
border: 5px solid white;
width: auto;
height: auto;
border-spacing: 5px;
margin-left: 5%;
margin-bottom: 1%;
}

.movieDetails {
  border: 2px solid #070907;
  text-align: left;
  line-height: 1.6;
  background-color: #afcdeb;
  
}

.listenLinks a{
  font-size: 20px;
}
.details {
  font-weight: bold;
}
.synopsis {
  line-height: 1.6;
  font-size: large;
  color: #99AABB;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  margin-right: 10%;
  

}

.newMovieForm {
  margin-left: 25%;
  margin-right: 25%;
  border: 3px solid #61dafb;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}

form {
  width: 80%;
  margin: 0 auto;
}

.newMovieForm h3 {
  width: 85%;
  margin: 0 auto;
  border-bottom: 2px solid #61dafb;
  font-family: Andale Mono, monospace;
  color: white;
}

.listenLinks {
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
}

.listenLinks h3 {
  border-bottom: 3px solid white;
}

html {
  background-color:#445566 ;
}